[submodule "third_party/json.h"]
	path = third_party/json.h
	url = https://github.com/sheredom/json.h.git
[submodule "third_party/argparse"]
	path = third_party/argparse
	url = https://github.com/cofyc/argparse.git
[submodule "third_party/wic"]
	path = third_party/wic
	url = https://github.com/NovelCraft/wic.git
